{% extends 'recipes/base.html' %}

    {% block content %}
    <link rel="stylesheet" href="home.css">
    <h1>Recipes</h1>
    {% for recipe in recipes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">{{recipe.title}}</h3>
          <h6 class="card-subtitle mb-2 text-muted">{{recipe.auther}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{recipe.updated_at|date:"F d, Y"}}</h6>
          <a href="{% url 'recipes-detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
        </div>
      </div>
    {% endfor %}
    {% endblock content %}