{% extends 'recipes/base.html' %}

    {% block content %}
    <h1>Recipe #{{object.id}}</h1>
   
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">{{object.title}}</h3>
          <h6 class="card-subtitle mb-2 text-muted">{{object.auther}}</h6>
          <h6 class="card-text">{{object.description}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{object.updated_at|date:"F d, Y"}}</h6>
        </div>
      </div>
      {% comment %}
      <div class="col-4">
        <a class="btn btn-outline-info" href="{% url 'recipes-update' %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'recipes-delete' %}">Update</a>
      </div>
      {% endcomment %}
    {% endblock content %}